hmtl {
  box-sizing: border-box;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  box-sizing: border-box;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: " Montserrat", sans-serif;
  color: #1B364E;
  font-weight: 700;
}

button {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  text-align: center;
  white-space: nowrap;
}
.btn--primary {
  background-color: #008DB2;
  color: white;
}
.btn--outline {
  background-color: transparent;
  border: none;
  color: #1B364E;
  padding: 0;
}

.btn__more {
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.btn__more:hover {
  text-decoration-line: underline;
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.heading {
  font-size: 48px;
  line-height: 1.2189583333;
  margin-bottom: 50px;
}
.heading__small {
  font-size: 36px;
  line-height: 1.2188888889;
  text-align: center;
}
.heading__title {
  font-size: 20px;
  line-height: 1.219;
}

.text {
  font-size: 16px;
  line-height: 1.21875;
}
.text__small {
  font-size: 14px;
  line-height: 1.2192857143;
}
.text__admin {
  font-size: 12px;
  line-height: 1.2191666667;
  font-weight: 400;
}

.header {
  padding: 22px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container-bars {
  display: none;
}
.header__container-toggle {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu__item-link {
  color: #000;
  transition: all 0.2s ease-in;
}
.menu__item-link:hover {
  color: #1B364E;
}
.menu__text-close {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header__container-toggle {
    display: block;
    font-size: 30px;
    padding: 0 20px;
  }
  .menu {
    width: 350px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    will-change: transform;
  }
  .menu.is-active {
    transform: translateX(0);
  }
  .menu__text-close {
    display: block;
    font-size: 20px;
    padding: 10px;
    margin-left: 90%;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item:nth-child(1) {
    margin-top: 60px;
  }
  .menu__item-link {
    width: 100%;
    padding: 15px 30px;
    border-bottom: 1px solid #008DB2;
  }
}
.hero {
  overflow: hidden;
  padding-bottom: 50px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 115px;
  position: relative;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 166px;
}
.hero__heading {
  width: 100%;
  max-width: 601px;
  margin-top: 116px;
}
.hero__desc {
  width: 100%;
  max-width: 608px;
  margin-bottom: 50px;
  font-size: 20px;
  text-align: justify;
}
.hero__slider {
  display: none;
}
.hero__image-border:nth-child(1) {
  position: absolute;
  transform: rotate(-90deg);
  right: -9px;
  top: -39px;
  z-index: -1;
}
.hero__image-border:nth-child(2) {
  position: absolute;
  transform: rotate(-90deg);
  right: -53px;
  top: -84px;
  z-index: -1;
}
.hero__number {
  position: absolute;
  top: 62%;
  background-color: white;
  padding: 29px;
  z-index: 777;
  border-radius: 50%;
  right: 26%;
  color: #008DB2;
}
.hero__number-border {
  position: absolute;
  width: 500px;
  top: 63.5%;
  right: -36px;
  z-index: 777;
}
.hero__number-border-image {
  width: 58px;
}
.hero__image-slider {
  width: 480px;
  transform: translate(1%, -8%);
}
.hero__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-left: 15px;
  background-color: transparent;
  border: 2px solid #1B364E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.hero__dot-list {
  position: absolute;
  top: 92%;
  right: 15%;
}
.hero__dot:nth-child(1) {
  transform: translateY(-58px);
}
.hero__dot:nth-child(2) {
  transform: translateY(-34px);
}
.hero__dot:nth-child(3) {
  transform: translateY(-17px);
}
.hero__dot:nth-child(4) {
  transform: translateY(-5px);
}

.btn__hero {
  transition: all 0.2s ease-in;
}
.btn__hero:hover {
  background-color: transparent;
  color: #008DB2;
  border: 1px solid #008DB2;
}

.active, .hero__dot:hover {
  background-color: #1B364E;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1023px) {
  .hero__heading {
    margin: 0;
  }
  .hero__content {
    margin-left: 122px;
  }
  .hero__image-border:nth-child(1) {
    right: -4px;
    width: 235px;
  }
  .hero__image-border:nth-child(2) {
    right: -40px;
    width: 310px;
  }
  .hero__image-slider {
    transform: translate(1%, -57%);
  }
  .hero__number {
    top: 21%;
    padding: 20px;
    right: 28%;
  }
  .hero__number-border {
    top: 22%;
    right: -26%;
  }
  .hero__number-border-image {
    width: 44px;
  }
  .hero__dot {
    height: 11px;
    width: 11px;
    margin-left: 11px;
  }
  .hero__dot-list {
    top: 47%;
  }
  .hero__dot:nth-child(1) {
    transform: translateY(-67px);
  }
  .hero__dot:nth-child(2) {
    transform: translateY(-37px);
  }
  .hero__dot:nth-child(3) {
    transform: translateY(-17px);
  }
  .hero__dot:nth-child(4) {
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 37px;
    margin-bottom: 15px;
  }
  .hero__content {
    margin: 0;
    padding: 0 15px;
  }
  .hero__image {
    display: none;
  }
}
.service {
  padding: 114px 0 112px 0;
}
.service__heading-small {
  margin-bottom: 66px;
}
.service__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 50px;
}
.service__item {
  border: 0.5px solid #D9D9D9;
  border-radius: 10px;
  padding: 25px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.service__image {
  margin-bottom: 19px;
}
.service__title {
  margin-bottom: 12px;
  width: 100%;
  max-width: 194px;
  min-height: 48px;
}
.service__text {
  font-weight: 400;
  margin-bottom: 23px;
  width: 100%;
  max-width: 235px;
  text-align: justify;
  word-spacing: 1px;
}
.service__border-bottom {
  background: #1B364E;
  border-radius: 5px;
  height: 5px;
}

@media screen and (max-width: 767px) {
  .service {
    padding-bottom: 0;
  }
  .service__list {
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
  }
}
.solution {
  background-image: url(../images/clientCm.png);
  background-size: cover;
  width: 100%;
  max-width: 1920px;
}
.solution__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.solution__image {
  position: relative;
  max-height: 836px;
  height: 100%;
}
.solution__image-item {
  position: absolute;
  top: 75px;
}
.solution__bgr {
  transform: translateY(-6%);
}
.solution__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.solution__heading {
  text-align: start;
  margin: 91px 0;
  font-size: 34px;
}
.solution__details {
  display: flex;
  align-items: flex-start;
  gap: 0 61px;
}
.solution__details-image {
  width: 70px;
  height: 70px;
}
.solution__details-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 118px;
}
.solution__title {
  margin-bottom: 25px;
}
.solution__text {
  font-weight: 400;
  text-align: justify;
  width: 100%;
  max-width: 466px;
  margin-bottom: 88px;
}

@media screen and (max-width: 1023px) {
  .solution__image-item {
    width: 330px;
  }
  .solution__bgr {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 767px) {
  .solution {
    margin-top: 50px;
  }
  .solution__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .solution__image {
    margin-top: 50px;
  }
  .solution__image-item {
    top: 88px;
    width: 300px;
  }
  .solution__content {
    padding: 0 15px;
  }
  .solution__heading {
    margin-left: 18px;
  }
  .solution__details {
    gap: 0;
  }
  .solution__details-wrapper {
    padding: 0 15px;
  }
}
.media {
  padding-bottom: 200px;
}
.media__heading-small {
  margin-top: 110px;
}
.media__images {
  display: flex;
  justify-content: end;
  align-items: center;
}
.media__image:nth-child(1) {
  margin-right: -34.9%;
}
.media__details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  margin-left: 125px;
  z-index: 999;
  margin-top: -37%;
}
.media__details-item {
  background-color: #fff;
  max-width: 415px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.media__info {
  padding: 15px 18px 18px 18px;
}
.media__admin {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 0 21px;
}
.media__vector {
  display: flex;
  align-items: center;
}
.media__vector > img {
  margin-right: 6px;
}
.media__title {
  margin-bottom: 15px;
}
.media__text {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 15px;
}
.media__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media__auth > a:nth-child(2) {
  background-color: #008DB2;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px, rgba(0, 0, 0, 0.22) 0px 6px 9px;
}
.media__auth-share {
  margin: 1px 2px;
}

@media screen and (max-width: 1023px) {
  .media {
    padding-bottom: 0;
  }
  .media__container {
    overflow: hidden;
  }
  .media__image:nth-child(1) {
    margin-right: -42.9%;
    width: 290px;
  }
  .media__image:nth-child(2) {
    width: 350px;
    margin-right: 0px;
  }
  .media__details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 30px;
    margin-left: 125px;
    z-index: 999;
    margin-top: -37%;
    margin-top: -49%;
    padding-right: 20px;
    padding-bottom: 76px;
  }
  .media__details-item {
    background-color: #fff;
    max-width: 415px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
@media screen and (max-width: 767px) {
  .media__details {
    flex-direction: column;
    margin-left: 30px;
    gap: 30px 0;
  }
  .media__image:nth-child(1) {
    margin-right: -38.9%;
    width: 110px;
  }
  .media__image:nth-child(2) {
    width: 153px;
    margin-right: 0px;
  }
}
.activate {
  margin-top: 100px;
  margin-bottom: 126px;
}
.activate__container {
  color: #fff;
}
.activate__heading {
  margin-bottom: 92px;
  color: #1B364E;
}
.activate__news {
  display: flex;
  flex-direction: "";
  justify-content: center;
  align-items: center;
  height: 498px;
}
.activate__new:nth-child(1) {
  height: 100%;
  background-size: cover;
  font-size: "24px";
  line-height: "24px"/0.8275862069;
  background-image: url(../images/activate1.png);
  padding: 296px 43px 50px 43px;
}
.activate__new:nth-child(2) {
  height: 100%;
}
.activate__new--one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.activate__new--two, .activate__new--three {
  padding: 46px 27px;
  height: 50%;
  background-size: cover;
  font-size: "24px";
  line-height: "24px"/0.8275862069;
  background-image: url(../images/activate2.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.activate__heading-small, .activate__text {
  z-index: 666;
  margin-bottom: 25px;
}
.activate__new--two {
  position: relative;
  margin-top: 1px;
}
.activate__new--three {
  position: relative;
  background-image: url(../images/activate3.png);
  margin-top: -1px;
}
.activate__imageL {
  position: absolute;
  left: 1px;
  bottom: -28%;
  transform: scale(1.17);
  z-index: 1;
}
.activate__imageR {
  position: absolute;
  left: 1px;
  z-index: 1;
  transform: scale(1.01);
}

.btn__new {
  color: #fff;
  z-index: 666;
}

@media screen and (max-width: 1023px) {
  .activate__imageL {
    left: 0;
    bottom: -9%;
    transform: scale(1.25);
    z-index: 1;
  }
  .activate__imageR {
    left: -1px;
    z-index: 1;
    transform: scaleY(1.55);
  }
}
@media screen and (max-width: 767px) {
  .activate__heading {
    margin-bottom: 300px;
  }
  .activate__news {
    flex-direction: column;
    gap: 5px 0;
  }
  .activate__imageL {
    bottom: 6%;
    transform: scale(1.31);
  }
  .activate__new--two {
    position: relative;
    margin-top: 1px;
    margin-bottom: 5px;
  }
}
.client__container {
  margin-bottom: 238px;
}
.client__heading-small {
  margin-bottom: 160px;
}
.client__lists {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 95px;
}
.client__lists-item:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client__lists-item:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .client__container {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 767px) {
  .client__heading-small {
    margin-bottom: 75px;
    margin-top: 300px;
  }
  .client__lists {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
  .client__lists-item:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
  }
  .client__lists-item:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 15px 0;
  }
}
.client__comment {
  background-image: url(../images/clientCm.png);
  background-size: cover;
  padding: 114px 0;
}
.client__comment-heading {
  margin-bottom: 132px;
  color: #fff;
}
.client__comment-wrappers {
  display: flex;
  align-items: center;
  margin-bottom: 132px;
  gap: 0 50px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  overflow-x: auto;
}
.client__comment-wrappers::-webkit-scrollbar {
  width: 0;
}
.client__comment-detail {
  display: inline-flex;
  justify-content: center;
}
.client__comment-info {
  background-color: #fff;
  max-width: 750px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.client__comment-wrapper {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-top: 19px;
  margin-left: 20px;
}
.client__comment-title {
  margin-bottom: 15px;
}
.client__comment-text {
  margin: 30px 79px 30px 79px;
  width: 592px;
  white-space: normal;
}
.client__comment-text p {
  width: 100%;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
}

.btn-comment {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  transition: all 0.2s ease-in;
}
.btn-comment:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

@media screen and (max-width: 767px) {
  .client__comment-heading {
    margin-bottom: 56px;
  }
  .client__comment-wrappers {
    margin-bottom: 30px;
  }
}
.hero__intro-container {
  width: 100%;
  height: -1%;
}

.image-slider {
  padding-bottom: 50px;
}

.image {
  height: 500px;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* image-rendering: pixelated; */
}

.slick-initialized .slick-slide {
  margin: 0 10px;
  height: 70%;
}

.slick-arrow {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #1B364E;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: "";
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 20px;
  z-index: 2;
  padding: 10px 20px;
  border-radius: 50%;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #eee;
  border: 1px solid #1B364E;
  outline: none;
}

.slick-dots .slick-active button {
  background-color: #1B364E;
}

@media screen and (max-width: 1023px) {
  .slick-initialized .slick-slide {
    height: 43%;
  }
  .image img {
    height: 90%;
    object-fit: contain;
  }
  .slick-dots {
    bottom: 86px;
  }
}
@media screen and (max-width: 767px) {
  .image-slider {
    padding-bottom: 0px;
  }
  .slick-initialized .slick-slide {
    margin: 0;
    height: 25%;
  }
  .image img {
    height: 42%;
    object-fit: contain;
  }
  .slick-dots button {
    width: 10px;
    height: 10px;
  }
}
.overview {
  padding: 127px 0;
}
.overview__container {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  gap: 0 74px;
}
.overview__image {
  position: relative;
}
.overview__image-item:nth-child(2) {
  position: absolute;
  top: 50px;
  left: 0;
}
.overview__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px 0;
}
.overview__text {
  max-width: 684px;
  width: 100%;
  font-weight: 600;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px 0;
}
.overview__text-item {
  display: block;
}

@media screen and (max-width: 1023px) {
  .overview {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .overview {
    padding: 72px 0;
  }
  .overview__container {
    flex-direction: column;
  }
  .overview__content {
    align-items: center;
    gap: 30px 0;
  }
}
.core__value {
  background-image: url(../images/corevalues-bgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}
.core__value-container {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
}
.core__value-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px 0;
}
.core__value-text {
  max-width: 604px;
  width: 100%;
  text-align: justify;
  font-weight: 600;
}
.core__value-list {
  margin-bottom: 20px;
}
.core__value-list > li {
  list-style-type: circle;
  margin-left: 20px;
}
.core__value-title {
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .core__value-container {
    flex-direction: column-reverse;
    gap: 15px 0;
  }
  .core__value-content {
    gap: 20px 0;
  }
}
.vision {
  padding: 127px 0;
}
.vision__container {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  gap: 0 74px;
}
.vision__image {
  position: relative;
}
.vision__image-item:nth-child(2) {
  position: absolute;
  top: 50px;
  left: 0;
}
.vision__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px 0;
}
.vision__text {
  max-width: 684px;
  width: 100%;
  font-weight: 600;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px 0;
}
.vision__text-item {
  display: block;
}

@media screen and (max-width: 767px) {
  .vision {
    padding: 60px 0;
  }
  .vision__container {
    flex-direction: column;
  }
  .vision__content {
    gap: 20px 0;
    margin-top: 15px;
  }
}
.contact {
  background-image: url(../images/corevalues-bgr.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 94px 0;
}
.contact__container {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
}
.contact__wrapper {
  width: 630px;
  padding: 50px 34px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px 0;
  flex-wrap: wrap;
}
.contact__heading {
  font-size: 32px;
  line-height: 1.2190625;
}
.contact__text {
  font-weight: 400;
  font-style: italic;
}
.contact__infos {
  width: 100%;
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
.contact__submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px 0;
  border-right: 1px solid #D9D9D9;
  padding-right: 20px;
}
.contact__input {
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #008DB2;
  outline: none;
}
.contact__btn {
  width: 100%;
  background-color: #1B364E;
  padding: 7px 124px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
}
.contact__btn:hover {
  color: #1B364E;
  background-color: transparent;
  border: 2px solid #1B364E;
}
.contact__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact__title-small {
  font-size: 22px;
  line-height: 1.22;
  margin-bottom: 30px;
}
.contact__address {
  display: flex;
  flex-direction: "";
  justify-content: center;
  align-items: center;
  gap: 0 17px;
  font-size: 18px;
  line-height: 1.2188888889;
  margin-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .contact__wrapper {
    width: 365px;
  }
  .contact__infos {
    flex-direction: column;
    gap: 15px 0;
  }
  .contact__submit {
    border: none;
    padding-right: 0;
  }
  .contact__info {
    align-items: center;
  }
}
.notion {
  padding: 104px 0;
}
.notion__container {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
}
.notion__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px 0;
  max-width: 632px;
  width: 100%;
}
.notion__heading {
  font-size: 32px;
  line-height: 1.2190625;
}
.notion__title {
  text-align: justify;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .notion {
    padding: 32px 0;
  }
  .notion__container {
    flex-direction: column;
  }
  .notion__content {
    align-items: center;
    gap: 20px 0;
    margin-top: 15px;
  }
}
.seo__need {
  background-image: url("../images/why-bgr.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.seo__need-wrapper {
  background-image: url("../images/whyOn-bgr.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.seo__need-container {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
}
.seo__need-content {
  max-width: 558px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px 0;
}
.seo__need-heading {
  font-size: 32px;
  line-height: 1.2190625;
}
.seo__need-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px 0;
}
.seo__need-item {
  font-weight: 600;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .seo__need-container {
    flex-direction: column;
  }
  .seo__need-content {
    align-items: center;
    margin-bottom: 15px;
  }
}
.procedure {
  height: 500px;
}
.procedure__container {
  position: relative;
}
.procedure__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.procedure__heading {
  margin-top: 139px;
  font-size: 32px;
  line-height: 1.2190625;
}
.procedure__step {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 210px;
  width: 100%;
  gap: 155px 0;
  margin-left: 20px;
}
.procedure__texts-even {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 138px;
}
.procedure__texts-odd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 100px;
  width: 110%;
  margin-left: 48px;
}
.procedure__text {
  max-width: 200px;
  width: 100%;
}
.procedure__text:nth-child(2) {
  color: #0064A8;
}
.procedure__text:nth-child(5) {
  color: #0064A8;
}
.procedure__text:nth-child(3) {
  color: #359CEF;
}
.procedure__text:nth-child(6) {
  color: #359CEF;
}
.procedure__text-end {
  color: #48DBFB;
}

@media screen and (max-width: 1023px) {
  .procedure__heading {
    text-align: center;
  }
  .procedure__step {
    gap: 125px 0;
  }
  .procedure__texts-even {
    gap: 0 30px;
  }
  .procedure__texts-odd {
    margin-left: -85px;
    gap: 0;
    padding-left: 155px;
  }
  .procedure__text {
    max-width: 174px;
    font-size: 15px;
  }
  .procedure__image {
    top: 220%;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .procedure__heading {
    margin-top: 45px;
  }
  .procedure__step {
    gap: 34px 0;
    font-size: 10px;
  }
  .procedure__texts-even {
    align-items: flex-end;
    justify-content: space-between;
    gap: 56px 0px;
    flex-direction: column;
    font-size: -1px;
    margin-right: -181px;
  }
  .procedure__texts-odd {
    flex-direction: column;
    position: absolute;
    gap: 54px 0;
    width: 189%;
    margin-left: -381px;
    top: -25px;
  }
  .procedure__text {
    font-size: 12px;
    max-width: 149px;
  }
  .procedure__image {
    top: 190px;
    left: 6%;
    transform: rotate(90deg);
  }
}
.footer {
  background-image: url(../images/footerBgr.png);
  background-size: cover;
  color: #fff;
  position: relative;
}
.footer__wrapper {
  position: relative;
  overflow: hidden;
  z-index: 555;
}
.footer__group-image {
  margin-bottom: 25px;
}
.footer__text {
  max-width: 100%;
  min-height: 132px;
  width: 365px;
  font-size: 18px;
  line-height: 1.2188888889;
  text-align: justify;
  word-spacing: -3px;
  margin-bottom: 90px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 0 33px;
}
.footer__social-image {
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
}
.footer__overview-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 26px 0;
  margin-top: 70px;
}
.footer__overview-item-link {
  color: white;
}
.footer__overview-icon {
  margin-right: 30px;
}
.footer__branch {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 138px;
  padding: 80px 0;
}
.footer__branch-item-link {
  color: white;
}
.footer__branch-title {
  margin-bottom: -9px;
}
.footer__branch-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px 0;
  margin-top: 61px;
  color: #fff;
}
.footer__branch-icon {
  margin-right: 18px;
}

.text__bottom {
  text-align: center;
  padding: 30px 0;
  z-index: 888888;
  color: white;
}

.footer__wrapper::after {
  content: "";
  width: 2526px;
  height: 2204px;
  position: absolute;
  top: 65%;
  right: -33%;
  border-radius: 1261px;
  z-index: -1;
  background-color: #008DB2;
}

@media screen and (max-width: 1023px) {
  .footer__branch {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .footer__branch {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=app.css.map */
