.header{
    padding: 22px 0;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-bars{
            display: none;
        }
        &-toggle {
            display: none;
        }
    }
}
.menu{
    display: flex;
    align-items: center;
    gap: 0 40px;
    &__item{
        &-link{
            color: $black-color;
            transition: $transiton;
            &:hover{
                color: $text-color;
            }
        }
    }
    &__text-close{
        display: none;
    }
}
@include maxw(1023px) {
    .header{
        &__container{
            &-toggle{
                display: block;
                font-size: 30px;
                padding: 0 20px;
            }
        }
    }
    .menu{
        width: 350px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        top:0;
        left:0;
        bottom: 0;
        z-index: 999999;
        background-color: $white-color;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transform: translateX(-100%);
        transition: transform 0.2s linear;
        will-change: transform;
        &.is-active {
            transform: translateX(0);
        }
        &__text-close{
            display: block;
            font-size: 20px;
            padding: 10px;
            margin-left: 90%;
        }
        &__item{
            width: 100%;
            &:nth-child(1){
                margin-top: 60px;
            }
            &-link{
                width: 100%;
                padding: 15px 30px;
                border-bottom: 1px solid $footer-color;
                
            }
        }
    }
  }